.ok{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: solid 5px black;
  height: 100%;
  background-color: gray;


}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
  }
  
  .box {
  
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 0 10px;
  }

  .line-1 {
    position: absolute;
    width: 480px;
    text-align: center;
    height: 10px;
    background: rgb(253, 0, 0);
    bottom: 200px;
  }



  